In [1]:
import os

In [2]:
baseDir = os.getcwd()
dataLocation = 'data/short_clean_closepx.csv'
dataFilePath = os.path.join(baseDir, dataLocation)

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
masterData = pd.read_csv(dataFilePath, index_col=0)
masterData.head()

,MSFT,AAPL,AMZN,JPM,GOOG,GOOGL,XOM
Date,,,,,,,
2005-01-03,26.740000,4.520714,44.520000,39.150002,100.700043,101.456459,50.090000
2005-01-04,26.840000,4.567143,42.139999,38.410000,96.621567,97.347351,49.750000
2005-01-05,26.780001,4.607143,41.770000,38.490002,96.129768,96.851852,49.490002
2005-01-06,26.750000,4.610714,41.049999,38.709999,93.665794,94.369370,50.119999
2005-01-07,26.670000,4.946429,42.320000,38.400002,96.298668,97.022018,49.790001

<h2>Lets look at the rolling correlation</h2>

<ol><li><h4>First reshape the data to a dictionary. Key:stock, Value:columns=years</h4></li></ol>

In [6]:
import my_helpers

In [ ]:
byStockAndYear = my_helpers.ByStockAndYear(masterData)